body {
    margin: 0;
}

.alignment{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

.hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.hero-links {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    margin-top: 10px;
    color: #f9faf8;
    display: flex;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.text-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-button{
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
    margin-top: 5px;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid #3882f6;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    font-size: 18px;
    max-width: 50%;
    margin-bottom: 50px;
    color: #e5e7eb;
    display: flex;
    flex-flow: row wrap;
}

.hero-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}   
    
.hero-img {
    max-width: 50%;
    background: grey;
    display: flex;
}

.information-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-header {
    margin: 30px auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-image {
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 75px;
    margin: 0%;
    display: flex;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.combined {
    width: 20%;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.image-text {
    margin-top: 10px;
    max-width: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature {
    margin: 0 50px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

.quote-combined {
    margin: 50px auto;
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.action-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-combined {
    padding: 25px 100px;
    margin: 50px auto;
    background-color: #3882f6;
    border-radius: 10px;
}

.action-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.signup {
    border: 2px solid white;
    border-radius: 3px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}