body {
    margin: 0;
}

.alignment{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

.hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.hero-links {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    margin-top: 10px;
    color: #f9faf8;
    display: flex;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.text-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-button{
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
    margin-top: 5px;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid #3882f6;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    font-size: 18px;
    max-width: 50%;
    margin-bottom: 50px;
    margin-right: 20px;
    color: #e5e7eb;
    display: flex;
    flex-flow: row wrap;
}

.hero-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}   
    
.hero-img {
    max-width: 50%;
    background: grey;
    display: flex;
}

.information-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-header {
    margin: 30px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-image {
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 75px;
    margin: 0%;
    display: flex;
}

.info {
    max-width: 100%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.combined {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.image-text {
    margin-top: 10px;
    max-width: 200px;
    text-align: center;
    flex-wrap: wrap;
}

